<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Mixte" value="true" />
    <add key="PortConfig" value="2244" />
    <add key="PortInput" value="2243" />
    <add key="HostConfigMaison" value="192.168.0.193" />   
    <add key="HostConfig" value="172.20.70.107" />
    <add key="ChronistickInputExe" value="C:\Users\Bruno\Documents\Visual Studio 2017\Projects\ChronoJstk\ChronoStick-Input\bin\Debug\ChronoStick-Input.exe" />
    <add key="SignalRServerx" value="http://localhost:62751/signalr/hubs" />
    <add key="SignalRServer" value="http://cpvq.mmetara.com/signalr/hubs" />
    <add key="SignalRServerProd" value="http://cpvq.mmetara.com/signalr/hubs" />
    <add key="SignalRServerDebug" value="http://localhost:62751/signalr/hubs" />
    <add key="SignalRHub" value="chatChronoHub" />
    <add key="DiffusionWeb" value="ws://localhost:62751/WSHandler.ashx" />
  </appSettings>
 <connectionStrings>
    <add name="PatinVitesse" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Bruno\Documents\Arpvq 2017-2018\TestsChrono\Publication.pat;User Id=admin;Password=;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>